
%header
  %section.cuerpo
    %h1 Clinica dental Villanueva
    %article
      %h2 Clinica Villanueva
    %article

      #myCarousel.carousel.slide
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
        / Carousel items
        .carousel-inner
          .active.item= image_tag("clinica.jpg", height: '32px', class: ".enbloque", id: "clinica" )
          .item= image_tag("iglesia.jpg", height: '32px', class: ".enbloque", id: "clinica" )
          .item= image_tag("villanueva.jpg", height: '32px', class: ".enbloque", id: "clinica" )
        / Carousel nav
        %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
        %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
      %p lñ´sdg´ñldfs´ñlsl´ñslksldf sdflgksldñkg´sñdlfkg sdlñfg ksdf gs fdglñskdf lgskd´fl kgs´ldñfg s´ñdf´sñf g´ñld fgs kfg´ñlg´lgfgkñlsdfkgs´ñlfkgsñlfksñgkslñ
      <iframe width="200" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Villanueva+de+la+Ca%C3%B1ada&amp;aq=0&amp;oq=villa&amp;sll=40.416894,-3.704453&amp;sspn=0.110698,0.264187&amp;ie=UTF8&amp;hq=&amp;hnear=Villanueva+de+la+Ca%C3%B1ada,+Madrid,+Comunidad+de+Madrid&amp;t=m&amp;ll=40.442048,-4.001341&amp;spn=0.019597,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Villanueva+de+la+Ca%C3%B1ada&amp;aq=0&amp;oq=villa&amp;sll=40.416894,-3.704453&amp;sspn=0.110698,0.264187&amp;ie=UTF8&amp;hq=&amp;hnear=Villanueva+de+la+Ca%C3%B1ada,+Madrid,+Comunidad+de+Madrid&amp;t=m&amp;ll=40.442048,-4.001341&amp;spn=0.019597,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>



