
%header
  %section.cuerpo
    %h1 Clinica dental Villanueva
    %article
      %h2 Clinica Villanueva
      = image_tag("clinica.jpg", height: '32px', class: ".enbloque", id: "clinica" )
    %article
      %p lñ´sdg´ñldfs´ñlsl´ñslksldf sdflgksldñkg´sñdlfkg sdlñfg ksdf gs fdglñskdf lgskd´fl kgs´ldñfg s´ñdf´sñf g´ñld fgs kfg´ñlg´lgfgkñlsdfkgs´ñlfkgsñlfksñgkslñ

    %aside
      %p no soy importante
%footer.pie
  %ul.pie
    %li uno
    %li dos
    %li tres
  %ul.pie
    %li uno
    %li dos
    %li tres
    %li dos
    %li tres
