.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => root_url}Clínica dental Gómez-Valor
      .container-fluid.nav-collapse
        %ul.nav.pull-right
          %li= link_to "Nuestros profesionales", workers_path
          %li= link_to "Nuestra Clinica", "#"
          %li= link_to "Tratamientos", treatments_path
          %li= link_to "Noticias y ofertas", promos_path
      / /.nav-collapse
