.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Pida Cita
    %li= link_to "Donde estamos", "#"
    %li= link_to "Nuestros profesionales", "#"
    %li= link_to "Tratamientos destacados", "#"
    %br/
    <iframe width="200" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Villanueva+de+la+Ca%C3%B1ada&amp;aq=0&amp;oq=villa&amp;sll=40.416894,-3.704453&amp;sspn=0.110698,0.264187&amp;ie=UTF8&amp;hq=&amp;hnear=Villanueva+de+la+Ca%C3%B1ada,+Madrid,+Comunidad+de+Madrid&amp;t=m&amp;ll=40.442048,-4.001341&amp;spn=0.019597,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.es/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Villanueva+de+la+Ca%C3%B1ada&amp;aq=0&amp;oq=villa&amp;sll=40.416894,-3.704453&amp;sspn=0.110698,0.264187&amp;ie=UTF8&amp;hq=&amp;hnear=Villanueva+de+la+Ca%C3%B1ada,+Madrid,+Comunidad+de+Madrid&amp;t=m&amp;ll=40.442048,-4.001341&amp;spn=0.019597,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a></small>
/ /.well
/ /span